# Node.js
node_modules/
.env
dist/
build/
npm-debug.log*

# Logs
logs/
*.log

# OS / IDE junk
.DS_Store
Thumbs.db

# Frontend build
frontend/node_modules/
frontend/.env
frontend/build/

# Backend build
backend/node_modules/
backend/.env